# Mattermost 설정
MATTERMOST_TOKEN=nptcwj16efyddc1xct6s5ckq7a

# OpenWeatherMap API 키 (https://openweathermap.org/api)
WEATHER_API_KEY=your_openweathermap_api_key_here

# Giphy API 키 (https://developers.giphy.com/)
GIPHY_API_KEY=your_giphy_api_key_here
